<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <!-- dostęp do baz danych -->
    <add key="DbConnectionString" value="Data Source=sql.dev.expertsender;Initial Catalog=ES_TR_Common;Integrated Security=SSPI;Type System Version=SQL Server 2012;"/>
    <add key="DbCommandTimeout" value="360"/>
  </appSettings>
</configuration>
